.WhatsCovered-container {
    /* padding: 80px 231px; */
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px; 
}
.WhatsCovered-title {
    color: var(--dark-blue);
    font-family: var(--font-scandia);
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 61.6px */
    letter-spacing: -1.68px;
}
.WhatsCovered-cards{
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1023px){
    .WhatsCovered-cards{
        gap: 10px;
        text-align: center;
    }
    .WhatsCovered-container{
        padding: 80px 0px;
        gap: 30px;
    }
    .WhatsCovered-title{
        font-size: 30px;
        letter-spacing: -0.9px;
    }
}