.navbar {
    width: -webkit-fill-available;
    top: 0px;
    position: fixed;
    z-index: 1;
    padding: 24px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5FF;
}

.navbar-routes, .navbar-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13.33px;
}

.navbar-routes {
    gap: 24px;
}

.navbar-route, .nav-btn {
    padding: 9.33px 0px;
    width: 80px;
}

.contact-route {
    width: 92px;
}

.nav-btn {
    width: auto;
    padding: 9.33px 13.33px;
    color: var(--blue);
    border: 1.333px solid var(--blue);
}

@media (max-width: 1023px) {
    .navbar {
        display: none;
    }
}